 :root{
    --clr-primario-400: #473BF0;
    --clr-primario-300: #6665DD;
    --clr-primario-200: #9B9ECE;

    --clr-fondo-900: #000500;
    --clr-fondo-100: #ACADBC;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', 'Montserrat', sans-serif;
}
body{
    background-color: black;
    
}
/* navbar */
#Logo-navbar{
    height: 90px;
    width: 160px;
    scale: 0.7;
}
#nav{
    background-color: black;
    margin: 0;
    padding: 0;
}
.nav-titulo{
    color: #473BF0;
}
#btn-buscar{
    color: #473BF0;
    background-color: #9B9ECE;
}
.navbar-toggler-icon{
    background-image: url();

}
/* fin navbar */

/* banner */
.banner{
    background: linear-gradient(rgba(0,0,0,.5) 0%, rgba(0,0,0,.5)100%), url('../img/batman.jpg');
    background-position: center center;
    background-size:cover;
    width: 100%;
    min-height: 80vh;
    color: #fff;
    display: flex;
    align-items: flex-end;
}
.contenido-banner{
    background: none;
    margin-bottom: 8rem;
    margin-left: 5rem;
}
.titulo-banner{
    color: #473BF0;
    font-weight: 500;
    scale: 1.3;
    padding-left: 1em;
}
.button{
    cursor: pointer;
    border: 0;
    border-radius: 100vmax;
    padding: .5em 1em;
    font-weight: 500;
    font-size:large;
    margin: 1em;
    color: #fff;
    background-color: #473BF0;
}
button:hover, .button:focus-visible{
    background-color: #6665DD;
}

/* fin banner */

/* carrusel */
.catalogo-pelis{
    background-color: #000500;
}
.carrusel-fila{
    display: inline-block;
    width: 100%;
    /* overflow: scroll; */
    opacity: 1;
    max-height: 500px;
}
.carrusel-fila--inner{
    display: inline-block;
    transition: 350ms transform;
    /* font-size: 0; */
    white-space: nowrap;
    margin: auto 0;
    padding-bottom: 3rem;  
    padding-top: 3rem;
    max-height: 700px;
    align-items: center;
    justify-content: center;
}
.carrusel-fila--item{
    display: inline-block;
    background-color: gray;
    width: 250px;
    height: auto;
    margin-right: 16px;
    cursor: pointer;
    transition: 350ms  ease-in-out;
    transform-origin: center;
    opacity: .7;
    border-radius: 1rem;
}
.img-card{
    max-height:100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}
.button-card{
    position: relative;
    top: 150px;
    left: -240px;
    border: none;
    cursor: pointer;
    border-radius: 100vmax;
    padding: .5em 1em;
    margin-left: .2rem;
    font-weight: 500;
    font-size:large;
    color: #fff;
    background-color: #473BF0;
    z-index: 2;
}

.carrusel-fila--item:first-child{
    transform-origin: left;
    z-index: 1;
}
.carrusel-fila--item:first-child:hover{
    z-index: -1;

}
.carrusel-fila--item:last-child{
    transform-origin: right;
    z-index: 1;
}
/* .carrusel-fila--inner:hover{
    transform: translate3d(140*(1.5 - 1)/2);
} */
.carrusel-fila--item:hover{
    opacity: 1;
    scale: 1.2;
    z-index: 1;
}
/* .titulos{
    display: inline-block;
    border: 1px solid #6665DD;
    max-width: min-content;
} */
.titulo-categoria{
    /* display:inline-block ; */
    margin: 0;
    margin-left: 3rem;
    margin-top: 1rem;
    color: #473BF0;
    
}
.titulo-categoria::after{
    content: "";
    display: block;
    width:min-content;
    padding-top: 3px;
    border-bottom: 2px;
    background: linear-gradient(to left, #473BF0 0%, #6665DD 100%);
    background-position: 0 100%;
    background-size: 100% 6px;
    background-repeat: repeat-x;
}

.carousel-control-next, .carousel-control-prev{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 100vh;
    margin: 2px;
    position: relative;
    left: 3rem;
    top: -2rem;
    color: #9B9ECE;

     
}
                                   
/* fin carrusel */

/* footer */
.nounderline{
    text-decoration: none;
}
.pie-pagina{
    width: 100%;
    background-color: #000500;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #9B9ECE;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #473BF0;
}
.grupo-2{
    background-color: #9B9ECE;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.text-small-grupo-2{
    color: #473BF0;
    background-color: #9B9ECE;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/* Fin footer */

/* Pagina de informacion de pelicula */


/* fin pagina informacion de pelicula */


/* Error 404 */
.fof{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}
#error404{
    height: 80vh;
    display: grid;
    align-items:center ;
    vertical-align: middle;
}
.fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
    color: #473BF0;
}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #6665DD;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}
/* Fin error 404 */

/* acerca de nosotros */
.logobanner{
    margin: 0 auto;
    width:max-content;
}
.banner--img{
    height: 500px;
    background-color:#6665DD;
    border: solid #473BF0;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.contenido-boutus{
    color: #efefef;
}
.our-team{
    text-align: center;
    margin-bottom: 20px;
}
.our-team .container--flex {
align-items: flex-start;
}
.our-team--txt{
    color: #473BF0;
}
.our-team--title {
    color: #473BF0;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.our-team--img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}
/* fin acerca de nosotros */

/* administracion */
.btnadmin{
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
#lista{
    min-height: 70vh;
    color:#efefef;
}
/* fin administracion */