body{
    font-family:'Comfortaa', cursive;
}


.modalContent{
    position: relative;
    display: inline-block;
    width: 50%;
    color: #473BF0;
    border:5px solid #473BF0;
    border-radius: 35px;
    box-shadow: 0px 8px 20px #ACADBC;
    justify-content: center;
    align-items: center;
    padding: 0 100px ;
    background-color: #000500;
    font-weight: 700;
    margin-top: 150px;
    opacity: 0.95;
    font-family:'Comfortaa', cursive;
    font-size: 20px;
    margin-bottom:500px;
}

.modalContentRegistro{
    position: relative;
    display: inline-block;
    width: 55%;
    color: #473BF0;
    border:5px solid #473BF0;
    border-radius: 35px;
    box-shadow: 0px 8px 20px #ACADBC;
    justify-content: center;
    align-items: center;
    padding: 0 100px ;
    background-color: #000500;
    font-weight: 700;
    margin-top: 150px;
    opacity: 0.95;
    font-family:'Comfortaa', cursive;
    font-size: 20px;
}
/* .modalDs {
    background-color: #000500;
    opacity: 0.95;
   padding: 0 100px;
    border-radius: 35px;
    box-shadow: 0px 8px 20px #ACADBC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #473BF0;
    border: 3px solid #473BF0;
    
    
} */



.formStyle {position:relative
}
   

.buttonForm {

    background-color: #473BF0;
    color: #f9f9fd;
    font-weight: 400;
    border-color: #9B9ECE;
    border-radius: 7px;
    width: 100%;
    padding: 10px;

}


.imgLogin {
    contain: content;
    margin-top: -75px;
    margin-bottom: 25px;
    border-color: #473BF0;
    border: 5px solid #473BF0;
    box-shadow: 0px 4px 30px #ACADBC
}


.buttonForm:hover {
    background-color: #1a1c35;
    color: #51e60d;

    border: 2px solid #473BF0;
    transition: 0.3s;
}

.buttonForm:active {
    background-color: #1a1c35;
    color: #51e60d;

    border: 2px solid #473BF0;
    transition: 0.3s;
}
.inputErrorDeFormulario{
    display: none;
    color: #df3f37;
    
}

.inputErrorDeFormulario p{
    margin: 0px;
}


.inputErrorDeFormulario-activo{
    margin-top: 4px;
    display: block;
    color: #df3f37;
}

@media only screen and (min-width: 768px) {
    section {
        width: 30em;
    }
   
    
   
}


.form-group a {
    text-decoration: none;
    color: #9B9ECE;}

.iconoDeError{
color: #df3f37;
    }

.fas ,.fa-check{
    color: #51e60d;
    display: none;
}
.inputExitoDeFormulario{
    color: #51e60d;
    display: none;
}
.inputExitoDeFormulario-activo{
    color: #51e60d;
    display: inline;
}



.form-group-correcto{
    opacity: 0;
}
.form-group-correcto-activo{
    opacity: 1;
}




